*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body{
    background:#0A0715;
    color:white;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width:12px;
}


::-webkit-scrollbar-track{
    background:#0A0715;
}


::-webkit-scrollbar-thumb{
    background:linear-gradient(
        180deg,
        #9333EA,
        #D946EF
    );
    border-radius:20px;
    border:3px solid #0A0715;
}


::-webkit-scrollbar-thumb:hover{
    background:#D946EF;
    box-shadow:0 0 20px rgba(217,70,239,.7);
}

#logo{
    text-decoration: none;
    color: white;
}

/* Navbar */

nav{
    width:88%;
    height:80px;
    margin:auto;

    display:flex;
    align-items:center;
    justify-content:space-between;
}


.logo{
    font-size:32px;
    font-weight:700;
}


.logo span{
     display:inline-block;
    background:linear-gradient(
        270deg,
        #D946EF,
        #FF4FD8,
        #C026D3,
        #A855F7,
        #D946EF
    );
     filter:drop-shadow(0 0 8px rgba(217,70,239,.8));
    background-size:300% 300%;

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;

    animation:gradientMove 4s linear infinite;
}
@keyframes gradientMove{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}

.nav-links{
    display:flex;
    gap:35px;
}


.nav-links a{
    text-decoration:none;
    color:white;
    font-size:17px;

    transition:.3s;
}


.nav-links a:hover{
    color:#D946EF;
}




/* Header */

#projects-page{
    width:88%;
    margin:70px auto;
}


#projects-page h1{
    text-align:center;
    font-size:55px;
}


#projects-page h1 span{
    color:#D946EF;
}


.subtitle{
    text-align:center;
    color:#aaa;
    margin-top:15px;
}




/* Cards */

.projects-container{

    margin-top:60px;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;

}



.project-card{

    background:rgba(255,255,255,.06);

    border:1px solid rgba(217,70,239,.3);

    border-radius:25px;

    overflow:hidden;

    transition:.35s;

    backdrop-filter:blur(10px);

}



.project-card:hover{

    transform:translateY(-8px);

    box-shadow:
    0 20px 40px rgba(217,70,239,.25);

}




.project-image{

    width:100%;
    height:220px;

}


.project-image img{

    width:100%;
    height:100%;

    object-fit:cover;

}




.project-content{

    padding:25px;

}



.project-content h2{

    color:#D946EF;

    margin-bottom:12px;

}



.project-content p{

    color:#ccc;

    line-height:1.6;

}




/* Tech */

.tech-stack{

    display:flex;

    gap:10px;

    flex-wrap:wrap;

    margin:20px 0;

}


.tech-stack span{

    padding:5px 14px;

    border-radius:20px;

    background:#3c0f42;

    color:white;

    font-size:14px;

}




/* Buttons */

.project-buttons{

    display:flex;

    gap:15px;

}


.project-buttons a{

    text-decoration:none;

    padding:10px 20px;

    border-radius:25px;

    background:#D946EF;

    color:#0A0715;

    font-weight:600;

    transition:.3s;

}



.project-buttons a:hover{

    transform:translateY(-3px);

    box-shadow:
    0 10px 25px rgba(217,70,239,.5);

}





@media(max-width:900px){

    .projects-container{

        grid-template-columns:1fr;

    }


    nav{

        width:90%;

    }


    .nav-links{

        display:none;

    }

}